

body {
    background: #b4a1fd;
background: linear-gradient(142deg,#b4a1fd 0%, #1a1919 40%, #bcffbc 90%);
background: -webkit-linear-gradient(142deg,#b4a1fd 0%, #1a1919 40%, #bcffbc 90%);
background: -moz-linear-gradient(142deg,#b4a1fd 0%, #1a1919 40%, #bcffbc 90%);
/*filter: grayscale(55%) sepia(44%) blur(3px) brightness(123%) opacity(94%);
-webkit-filter: grayscale(55%) sepia(44%) blur(3px) brightness(123%) opacity(94%);
-moz-filter: grayscale(55%) sepia(44%) blur(3px) brightness(123%) opacity(94%);*/
}

.nav {
    color: antiquewhite;
    background-color: black;
    width: auto;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 4px inset #1cbbff;
}

label {
    background-color: black;
    color: bisque;
    width: 50px;
}

button {
    background-color: black;
    color: bisque;
    width: 70px;
    height: 40px;
    justify-content: space-evenly;
    justify-content: center;
    row-gap: 10px;
    border: 4px inset #1cbbff;
}
.text-init {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.parrafo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}